.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-upload__preview {
  width: clamp(7rem, 40vw, 15rem);
  height: clamp(7rem, 40vw, 15rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.image-upload__preview img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.image-upload__preview em {
  font-style: normal;
  color: cornflowerblue;
}

.image-upload__preview-CloseCircleFilled {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: clamp(16px, 2.5vw, 1.2rem);
  background: white;
  border-radius: 50%;
}

.image-upload__form-control p {
  justify-content: center;
  display: flex;
}

.form-control input {
  display: none;
}

.image-upload__preview-container {
  position: relative;
  height: fit-content;
  width: auto;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
