.profilePage-topContainer {
  position: relative;
  height: 250px;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
}

.profilePage-topContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/src/assets/background6.jpg);
  background-size: cover;
  filter: opacity(0.7);
}

.profilePage-topContainer-inside {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
