.CreateProfileCard-form-section input {
  padding: 5px;
  margin-bottom: 5px;
  border-color: #510077;
  background: #ebebeb;
  outline-style: none;
}

.CreateProfileCard-button-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CreateProfileCard-button-container Button {
  margin: 15px 15px 0 15px;
}

.CreateProfileCard-form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.CreateProfileCard-form-section h4 {
  margin-bottom: 5px;
}

.CreateProfileCard-form-section p {
  margin: 0;
  color: #dd1305;
  text-align: end;
}
