.EditIndivWorkExperienceModal-form {
  display: flex;
  flex-direction: column;
}

.EditIndivWorkExperienceModal-form-header-container {
  background: azure;
  margin: -15px -15px 10px -15px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  height: clamp(5rem, 16vw, 10rem);
  display: flex;
  justify-content: center;
}

.EditIndivWorkExperienceModal-form-header-container h1 {
  margin: auto;
  font-weight: 500;
  font-size: clamp(20px, 5vw, 60px);
}

.EditIndivWorkExperienceModal-form-topContainer {
  display: flex;
  flex-direction: column;
}

.EditIndivWorkExperienceModal-form-topContainer input,
.EditIndivWorkExperienceModal-form-section input,
textarea {
  padding: 5px;
  border-color: #510077;
  background: #ebebeb;
  outline-style: none;
  margin: 0;
}

.EditIndivWorkExperienceModal-form-section p,
.EditIndivWorkExperienceModal-dates-container p {
  margin: 0;
  color: #925bf8;
}

.EditIndivWorkExperienceModal-form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.EditIndivWorkExperienceModal-dates-container h4,
.EditIndivWorkExperienceModal-form-section h4 {
  margin-bottom: 5px;
}

.EditIndivWorkExperienceModal-dates-container text,
.EditIndivWorkExperienceModal-form-section text {
  margin-bottom: 5px;
  color: red;
}

.EditIndivWorkExperienceModal-button-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.EditIndivWorkExperienceModal-button-container Button {
  margin: 15px 15px 0 15px;
}

.EditIndivWorkExperienceModal-dates-container {
  display: flex;
  flex-direction: column;
}

.EditIndivWorkExperienceModal-dates-container input {
  width: 45%;
  font-size: 12px;
}

.EditIndivWorkExperienceModal-currentJob-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.EditIndivWorkExperienceModal-dates-container-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
