.EditWorkExperienceCard-form-topContainer {
  display: flex;
  flex-direction: column;
}

.EditWorkExperienceCard-form-topContainer input,
.EditWorkExperienceCard-form-section input,
textarea {
  padding: 5px;
  border-color: #510077;
  background: #ebebeb;
  outline-style: none;
  margin: 0;
}

.EditWorkExperienceCard-form-section p,
.EditWorkExperienceCard-dates-container p {
  margin: 0;
  color: #dd1305;
  text-align: end;
}

.EditWorkExperienceCard-form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.EditWorkExperienceCard-dates-container h4,
.EditWorkExperienceCard-form-section h4 {
  margin-bottom: 5px;
}

.EditWorkExperienceCard-button-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.EditWorkExperienceCard-button-container Button {
  margin: 15px 15px 0 15px;
}

.EditWorkExperienceCard-dates-container {
  display: flex;
  flex-direction: column;
}

.EditWorkExperienceCard-dates-container input {
  width: 45%;
  font-size: 12px;
}

.EditWorkExperienceCard-currentJob-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.EditWorkExperienceCard-dates-container-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.EditWorkExperienceCard-dates-container-inputs em,
.EditWorkExperienceCard-currentJob-container em {
  font-style: normal;
}
