.WorkExperienceCard-flip-card__main-container {
  background-color: #e6f2fc; /* #f0f4f7; */
  color: black;
  border-radius: 5px;
  display: flex;
  filter: drop-shadow(1px 2.5px 3px rgb(189, 189, 189));
  padding: 10px;
  margin: 10px auto;
  width: 90vw;
  max-width: 55rem;
  flex-direction: column;
}

.WorkExperienceCard-flip-card__front-left {
  width: 20vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.WorkExperienceCard-flip-card__front-left img {
  max-height: 10rem;
  max-width: 10rem;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  padding: 10px;
}

.WorkExperienceCard-flip-card__front-right {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  flex: 70%;
  width: 70%;
}

.clamp-lines__button {
  background: none;
  border: 0;
  color: dimgrey;
  padding: 0;
  margin: auto;
  display: flex;
  text-decoration: underline;
  outline: none;
}

.clamp-lines > p {
  margin: 0;
}
