.WorkExperienceCard-flip-card {
  background-color: transparent;
  height: 20vw;
  perspective: 1000px;
  margin: 15px 10px;
}

.WorkExperienceCard-flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.WorkExperienceCard-flip-card__inner:hover {
  transform: rotateX(-180deg);
}

.WorkExperienceCard-flip-card__front,
.WorkExperienceCard-flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.WorkExperienceCard-flip-card__front {
  background-color: #fafaf4;
  color: black;
  border-radius: 5px;
  display: flex;
  filter: drop-shadow(1px 2.5px 3px rgb(189, 189, 189));
}

.WorkExperienceCard-flip-card__back {
  background-color: #b4b4b1;
  color: black;
  border-radius: 5px;
  transform: rotateX(-180deg);
  filter: drop-shadow(1px 2.5px 3px rgb(189, 189, 189));
}

.WorkExperienceCard-flip-card__front-left {
  width: 20vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.WorkExperienceCard-flip-card__front-left img {
  height: 16vw;
  margin: auto;
}

.WorkExperienceCard-flip-card__front-right {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: left;
  flex: 70%;
  width: 70%;
  font-size: clamp(10px, 2.5vw, 30px);
}

.WorkExperienceCard-flip-card__front-right text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.WorkExperienceCard-flip-card__back-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.WorkExperienceCard-flip-card__back-description {
  overflow-y: scroll;
  height: 10vw;
}
.WorkExperienceCard-SeeMore-button-container {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.WorkExperienceCard-SeeMore-button {
  padding: 10px 15px 15px;
  position: absolute;
  bottom: 0;
}
