.WorkExperienceCard-flip-card__main-container {
  background-color: #fafaf4;
  color: black;
  border-radius: 5px;
  display: flex;
  filter: drop-shadow(1px 2.5px 3px rgb(189, 189, 189));
  padding: 10px;
  margin: 10px auto;
  width: 90vw;
  flex-direction: column;
}

.WorkExperienceCard-flip-card__front-left {
  width: 20vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.WorkExperienceCard-flip-card__front-left img {
  height: 16vw;
  margin: auto;
}

.WorkExperienceCard-flip-card__front-right {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  flex: 70%;
  width: 70%;
  font-size: clamp(10px, 2.5vw, 30px);
}

.WorkExperienceCard-flip-card__front-right__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 0 0;
}
